<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {#    <style>#}
    {#        table.GeneratedTable {#}
    {#            width: 80%;#}
    {#            background-color: #ffffff;#}
    {#            border-collapse: collapse;#}
    {#            border-width: 1px;#}
    {#            border-color: #000000;#}
    {#            border-style: solid;#}
    {#            color: #000000;#}
    {#        }#}
    {##}
    {#        table.GeneratedTable td, table.GeneratedTable th {#}
    {#            border-width: 1px;#}
    {#            border-color: #000000;#}
    {#            border-style: solid;#}
    {#            padding: 8px;#}
    {#        }#}
    {##}
    {#        table.GeneratedTable thead {#}
    {#            background-color: #006eff;#}
    {#        }#}
    {#    </style>#}
</head>
<body class="">
<div class="container mt-md-5 p-md-5 border border-2 border-dark">
    <div class="row mt-md-5 p-md-3 bg-info  ">
        <h2 class="col-md-8 fw-bold p-md-3">فاکتور خرید</h2>
        <div class="col-md-4">
            <h6 class="p-md-1">نام: {{ basket.user.username }}</h6>
            <p class="p-md-13">تاریخ پرداخت: {{ basket.payment_datetime }}</p>
        </div>
    </div>
    <div class="row mt-md-5">
        <table class="table table-secondary">
            <thead>
            <tr class="table-primary">
                <th>نام محصول</th>
                <th>کوپن</th>
                <th>تعداد</th>
                <th>درصد تخفیف</th>
                <th>قیمت</th>
                <th>قیمت با تخفیف</th>
                <th>قیمت کل</th>
                <th>قیمت کل با تخفیف</th>
            </tr>
            </thead>
            <tbody>
            {% for basket_product in basket_products %}
                <tr>
                    <td>{{ basket_product.line_coupon.title }}</td>
                    <td>{{ basket_product.line_coupon.coupon.title }}</td>
                    <td>{{ basket_product.count }}</td>
                    <td>{{ basket_product.line_coupon.offer_percent }}</td>
                    <td>{{ basket_product.payment_price }}</td>
                    <td>{{ basket_product.payment_price_with_offer }}</td>
                    <td>{{ basket_product.total_price }}</td>
                    <td>{{ basket_product.total_price_with_offer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4 bg-secondary p-md-3 text-light rounded-3">
            <p>قیمت کل: {{ basket.total_price }} ریال</p>
            <p>تخفیف کل: {{ basket.total_offer_percent }} ٪</p>
            <p>قیمت کل با تخفیف: {{ basket.total_price_with_offer }} ریال</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>